div class="row"
  h2 class="text-center"
    span class="label label-primary" 机器温度监控统计
  div class="col-md-offset-1 col-md-10"
    canvas id="canvas"

javascript:
  var data = #{{ @data.to_json }};
  var time = [];
  var temp = [];
  for (var item in data) {
    time.push(new Date(data[item].created_at).toLocaleString());
    temp.push(data[item].temp);
  }
  
  var temperatureData = {
    labels: time,
    datasets: [{
      label: "Temperature Data",
      fillColor: "rgba(151,187,205,0.2)",
      strokeColor: "rgba(151,187,205,1)",
      pointColor: "rgba(151,187,205,1)",
      pointStrokeColor: "#fff",
      pointHighlightFill: "#fff",
      pointHighlightStroke: "rgba(151,187,205,1)",
      data: temp
    }]
  }
  window.onload = function(){
    var ctx = document.getElementById("canvas").getContext("2d");
    window.myLine = new Chart(ctx).Line(temperatureData, { 
      responsive: true,
      scaleLabel: "<%=value%>℃",
      tooltipTemplate: "[<%if (label){%><%=label%>]<%}%> <%= value %>℃"
    });
  }
